/* Body stylings */

body {
    font-family: roboto, sans-serif;
    background-color: #F8F8F1;
    margin: 0;
    padding: 0;
}

#news-template {
    box-sizing: border-box;
    margin: auto;
    /* width: 90vw; */
    width: 100%;
}

.header-wrapper {
    top: 0;
    left: 0;
    background-color: rgba(24, 31, 37, .85);
    padding-bottom: 10px;
    box-sizing: border-box;
    width: 90%;
    padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
    /* padding-right: 80px; */
}

.teaser-wrapper {
    padding: 0px 10px;
    width: 90%;
    box-sizing: border-box;
}

.body-wrapper {
    padding: 0px 10px;
    width: 90%;
    box-sizing: border-box;
}


/* @media (min-width: 640px) {
    body {

    }

    .header-wrapper, .body-wrapper, .realted-stories-wrapper, .teaser-wrapper, .hero-image-wrapper, .realted-stories-wrapper {
        padding-left: 50px;
    }

    .body-wrapper, .related-stories-wrapper, .teaser-wrapper {
        box-sizing: border-box;
        padding-right: 400px;
    }

    #news-template {
    }
    .header-wrapper {
        width: 80%;
        padding-right: 80px;
    }
} */

@media (min-width: 1000px) {
    body {

    }

    #news-template {
        padding-top: 250px;
        /* width: 80vw; */
        box-sizing: border-box;
    }

    .header-wrapper {
        position: absolute;
        width: calc(100% - 400px);
        padding-right: 40px;
    }

    .teaser-wrapper {
        padding: 0px 400px 0px 50px;
        width: 100%;
    }
    
    .realted-stories-wrapper {
        padding: 0px 400px 0px 50px;
    }
    
    .body-wrapper {
        padding: 0px 400px 0px 50px;
        width: 100%;
    }
}

/* General body copy stylings */

.teaser {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.teaser p {
    font-size: 18px;
    font-weight: 800;
    /* font-family: roboto-mono, monospace; */
    line-height: 33px;
}

p {
    font-size: 16px;
    line-height: 33px;
    margin: 15px 0px 15px 0px;
    opacity: .75;
    font-weight: 200;
}

p a {
    color: inherit;
    font-weight: 800;
    transition: opacity .2s ease-in-out;
}

p a:hover {
    opacity: .25;
}

.body-wrapper li {
    opacity: .75;
}

li a {
    color: inherit;
    font-weight: 800;
    transition: opacity .2s ease-in-out;
}

li a:hover {
    opacity: .25;
}

span ul li {
    margin-bottom: 15px;
}

/* @media (min-width: 640px) {
    .teaser p {
        font-size: 24px;
        line-height: 42px;
    }
} */

@media (min-width: 1000px) {
    .teaser p {
        font-size: 24px;
        line-height: 42px;
    }

    p {
        font-size: 24px;
        line-height: 36px;
        margin: 20px 0px 20px 0px;
    }

    li {
        font-size: 24px;
    }
}

/* Story title, sub title stylings */

.title {
    font-family: titling-gothic-fb, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 15px;
    width: 100%;
    text-align: none;
    box-sizing: border-box;
    color: #F8F8F1
}

/* @media (min-width: 640px) {
    .title {

    }
} */

@media (min-width: 1000px) {
    .title {
        font-weight: 700;
        font-size: 48px;
        padding: 0px 0px 15px 30px;
        margin-bottom: 0;
        /* margin-bottom: 15px;
        margin-left: 30px; */
    }
}

@media (min-width: 1300px) {
    .title {
        font-weight: 700;
        font-size: 64px;
        margin-bottom: 15px;
        width: 100%;
    }
}

.subtitle {
    font-size: 14px;
    font-weight: 100;
    font-family: roboto-mono, monospace;
    opacity: .50;
    width: 100%;
    box-sizing: border-box;
    color: #F8F8F1;
}

/* @media (min-width: 640px) {
    .subtitle {
        padding-left: 30px;
        width: calc(100% - 10px);
        margin: 0px 0px 30px 0px;
    }
} */

@media (min-width: 1000px) {
    .subtitle {
        padding-left: 30px;
        font-size: 20px;
        margin: 0px 0px 40px 0px;
    }
}

/* Story hero image stylings */

.hero-image-wrapper {
    margin-top: 10px;
}

#heroImg {
    height: 45vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#heroImg img {
    width:100%;
    height:100%;
    object-fit: cover;
}

/* @media (min-width: 640px) {
    #heroImg {

    }

    #heroImg img {

    }
} */

@media (min-width: 1000px) {
    #heroImg {
        width: 100%;
        height: 60vh;
        padding-left: 0px;
    }

    #heroImg img {

    }

    .hero-image-wrapper {
        margin-top: 0px;
    }
}

/* Caption, source, tag, and date stylings */

.caption {
    /* font-style: italic; */
    font-weight: 100;
    opacity: .50;
    margin: 10px 0px 10px 0px;
    line-height: 24px;
    font-size: 14px;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
}

.source::before {
    content: "Source: ";
}

.source {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    font-family: roboto-mono, monospace;
    color: inherit;
    opacity: .50;
    width: auto;
    box-sizing: border-box;
    font-size: 12px;
    padding: 0px 10px;
}

.source:hover {
    opacity: .75;
    cursor: pointer;
}

.tags {
    float: right;
    font-family: roboto-mono, monospace;
    text-transform: capitalize;
    text-decoration: underline;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: .50;
    transition: opacity .2s ease-in-out;
    font-size: 12px;
    color: #F8F8F1;
}

.tags:hover {
    opacity: .75;
    cursor: pointer;
}

#date {
    font-family: roboto-mono, monospace;
    float: left;
    margin: 0px 15px 10px 0px;
    opacity: .50;
    font-size: 12px;
    color: #F8F8F1;
}

/* @media (min-width: 640px) {
    .caption  {
        padding-right: 400px;
    }

    .source  {

    }

    .tags  {

    }

    #date {
        margin-left: 30px; 
    }
} */

@media (min-width: 1000px) {
    .caption  {
        font-size: 16px;
        width: 100%;
        padding: 0px 400px 0px 50px;
    }

    .source  {
        font-size: 16px;
        padding: 0px 400px 0px 50px;
    }

    .tags  {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #date {
        padding-left: 30px;
        font-size: 20px;
    }
}

/* Related stories stylings */

.realted-stories-wrapper {
    margin-bottom: 30px;
    padding: 0px 10px;
}

@media (min-width:1000px) {
    .realted-stories-wrapper {
        padding: 0px 400px 0px 50px;
    }
}

#related-stories-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 0px;
}

#related-stories-header {
    font-family: roboto-mono, monospace;
    margin-top: 40px;
    margin-bottom: 0px;
    opacity: .50;
}

.related-story {
    height: 200px;
    min-width: 100%;
    margin-right: 20px;
    overflow: hidden;
    transition: opacity .2s ease-in-out;
}

.related-story div h3 {
    /* font-family: titling-gothic-fb, sans-serif; */
    /* font-family: roboto, sans-serif; */
    font-weight: 800;
    font-size: 14px;
    margin: 5px 0px 10px 0px;
    opacity: .75;
}

.related-story:hover {
    cursor: pointer;
    opacity: .33;
}

.related-story div img {
    height: 100%;
    width: 100%;
}

.relatedStoryTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 1.7em;
}

/* @media (min-width: 640px) {
    .related-story {
        min-width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    #related-stories-container {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin-top: 0px;
    }
} */

@media (min-width: 1000px) {
    .related-story {
        min-width: 300px;
        max-width: 300px;
    }

    #related-stories-container {
        display: flex;
        flex-shrink: 1 0 auto;
        flex-direction: row;
        padding: 0;
        margin-top: 0px;
        overflow-x: scroll;
    }

    .related-story div h3 {
        font-size: 18px;
    }
}

/* A line */

.header-wrapper > .line {
    width: 100%;
    background-color: #F8F8F1;
}

#news-template > .line {
    width: 100%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: black;
    opacity: .25;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 50px; */
}

@media (min-width: 1000px) {
    .header-wrapper > .line {
        margin-left: 30px;
        width: calc(100% - 30px);
    }

    #news-template > .line {
        margin-left: 50px;
        width: calc(100% - 450px);
    }

    .line {
        height: 2px;
        width: 100%;
        background-color: black;
        opacity: .25;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}