/* Body stylings */

body {
    font-family: roboto, sans-serif;
    background-color: #F8F8F1;
}

#news-template {
    margin: auto;
    width: 90vw;
}

@media (min-width: 640px) {
    body {

    }

    #news-template {
        width: 85vw;
    }
}

@media (min-width: 1000px) {
    body {

    }

    #news-template {
        width: 65vw;
    }
}

/* General body copy stylings */

p {
    font-size: 16px;
    line-height: 33px;
    margin: 15px 0px 15px 0px;
    opacity: .75;
}

p a {
    color: inherit;
    font-weight: 800;
    transition: opacity .2s ease-in-out;
}

p a:hover {
    opacity: .25;
}

li a {
    color: inherit;
    font-weight: 800;
    transition: opacity .2s ease-in-out;
}

li a:hover {
    opacity: .25;
}

span ul li {
    margin-bottom: 15px;
}

@media (min-width: 640px) {
    p {

    }
}

@media (min-width: 1000px) {
    p {
        font-size: 19px;
        line-height: 32px;
        margin: 20px 0px 20px 0px;
    }
}

/* Story title, sub title stylings */

.title {
    font-size: 24px;
    margin-bottom: 15px;
}

@media (min-width: 640px) {
    .title {

    }
}

@media (min-width: 1000px) {
    .title {
        font-size: 36px;
        margin-bottom: 15px;
    }
}

.subtitle {
    font-size: 14px;
    font-weight: 100;
    font-family: roboto-mono, monospace;
    margin: 0px 0px 30px 0px;
    opacity: .50;
}

@media (min-width: 640px) {
    .subtitle {

    }
}

@media (min-width: 1000px) {
    .subtitle {
        font-size: 20px;
        margin: 0px 0px 40px 0px;
    }
}

/* Story hero image stylings */

#heroImg {
    height: 30%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#heroImg img {
    width: 100%;
    min-height: 100%;
}

@media (min-width: 640px) {
    #heroImg {

    }

    #heroImg img {

    }
}

@media (min-width: 1000px) {
    #heroImg {
        height: 75vh;
    }

    #heroImg img {

    }
}

/* Caption, source, tag, and date stylings */

.caption {
    /* font-style: italic; */
    font-weight: 100;
    opacity: .50;
    margin: 10px 0px 10px 0px;
    font-family: roboto-mono, monospace;
    font-size: 10px;
}

.source::before {
    content: "Source: ";
}

.source {
    display: inline-block;
    margin: 10px 0px 10px 0px;
    font-family: roboto-mono, monospace;
    color: inherit;
    opacity: .50;
    width: auto;
    box-sizing: border-box;
    font-size: 12px;
}

.source:hover {
    opacity: .75;
    cursor: pointer;
}

.tags {
    float: right;
    font-family: roboto-mono, monospace;
    text-transform: capitalize;
    text-decoration: underline;
    margin-left: 10px;
    margin-bottom: 10px;
    opacity: .50;
    transition: opacity .2s ease-in-out;
    font-size: 12px;
}

.tags:first {
    color: blue;
}

.tags:hover {
    opacity: .75;
    cursor: pointer;
}

#date {
    font-family: roboto-mono, monospace;
    float: left;
    margin: 0px 15px 10px 0px;
    opacity: .50;
    font-size: 12px;
}

@media (min-width: 640px) {
    .caption  {

    }

    .source  {

    }

    .tags  {

    }

    #date {
        
    }
}

@media (min-width: 1000px) {
    .caption  {
        font-size: 16px;
        width: 100%;
    }

    .source  {
        font-size: 16px;
        margin: 10px 0px 10px 0px;
    }

    .tags  {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #date {
        font-size: 20px;
    }
}

#related-stories-container {
    display: flex;
    /* flex-shrink: 1 0 auto; */
    flex-direction: column;
    padding: 0;
    margin-top: 0px;
    /* overflow-x: scroll; */
}

#related-stories-header {
    font-family: roboto-mono, monospace;
    margin-top: 40px;
    margin-bottom: 0px;
    opacity: .50;
}

.related-story {
    height: 200px;
    min-width: 100%;
    margin-right: 20px;
    overflow: hidden;
}

.related-story div h3 {
    font-size: 14px;
}

.related-story:hover {
    cursor: pointer;
}

.related-story div img {
    height: 100%;
    width: 100%;
}

.relatedStoryTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 1.7em;
}

@media (min-width: 640px) {
    .related-story {
        min-width: calc(50% - 10px);
        max-width: calc(50% - 10px);
    }

    #related-stories-container {
        display: flex;
        /* flex-shrink: 1 0 auto; */
        flex-direction: row;
        padding: 0;
        margin-top: 0px;
    }
}

@media (min-width: 1000px) {
    .related-story {
        min-width: 300px;
        max-width: 300px;
    }

    #related-stories-container {
        display: flex;
        flex-shrink: 1 0 auto;
        flex-direction: row;
        padding: 0;
        margin-top: 0px;
        overflow-x: scroll;
    }
}

.line {
    height: 2px;
    width: 100%;
    background-color: black;
    opacity: .25;
    margin-top: 5px;
    margin-bottom: 5px;
}